[hue='0'] {
  background: hsl(0, 0%, 100%);
}
[hue='1'] {
  background: hsl(0, 100%, 39%);
  color:whitesmoke;
}
[hue='2'] {
  background: hsl(30, 100%, 50%);
}
[hue='3'] {
  background: hsl(46, 100%, 50%);
}
[hue='4'] {
  background: hsl(90, 100%, 39%);
}
[hue='5'] {
  background: hsl(120, 100%, 37%);
}
[hue='6'] {
  background: hsl(160, 98%, 43%);
}
[hue='7'] {
  background: hsl(190, 100%, 50%);
}
[hue='8'] {
  background: hsl(210, 100%, 50%);
}
[hue='9'] {
  background: hsl(240, 100%, 50%);
  color:whitesmoke;
}
[hue='10'] {
  background: hsl(270, 100%, 40%);
  color:whitesmoke;
}
[hue='11'] {
  background: hsl(300, 100%, 41%);
  color:whitesmoke;
}
[hue='12'] {
  background: hsl(330, 100%, 40%);
  color:whitesmoke;
}

/*.cell:hover {
  background-color: aliceblue;
}
*/
